#userdetails{
    min-height: 100vh;
    margin-top: 20vh;
}

#user_table{
    width: 80vw;
    margin: auto;
}

#functionalities{
    width: 80vw;
    margin: auto;
    display: flex; 
    justify-content: space-between;
    margin-bottom: 5vh;
    align-items: center;
}

