#userdetails {
    min-height: 100vh;
}

.user_table {
    width: 80vw;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#functionalities {
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.backBtn:hover {
    right: 20px;
}